body{
    margin: 0px;
    min-height: 200vh;
    width: 100%;
    overflow-x: hidden;
    background-image: url("public/logo/2326.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 
}